/* BOUTONS MENU, lorsqu'ils sont survolés */
.button:focused{
	
	-fx-focus-color:transparent;

	-fx-border-color:white;
	
}

.button{
	
	-fx-color:gray;
	-fx-font-size: 16em;
	-fx-padding: 10px;

}

.root{
	 -FX-font-size: 26px;
	 
}

